@using Helobis.Hr.Web.Site.Resources

<section class="container" id="product-overview-section">
    <div class="inner">
        <div class="row">
            <div class="col-sm-4 text-justify">
                <h2>@ResProductOverview.WhatWeDo</h2>
                <p>@ResProductOverview.WhatWeDoText1</p>
            </div>
            <div class="col-sm-4 text-justify">
                <h2>@ResProductOverview.WhyWe</h2>
                <p>@ResProductOverview.WhyWeText1</p>
            </div>
            <div class="col-sm-4 text-justify">
                <h2>@ResProductOverview.ToWho</h2>
                <p>@ResProductOverview.ToWhoText1</p>
            </div>
        </div>
    </div>
</section>
