@using Helobis.Hr.Web.Site.Resources

<section class="container" id="mission-section">
    <div class="inner">
        <div class="row">
            <div class="col-sm-6 welcome text-justify">
                <h2>@ResProductOverview.Welcome</h2>
                <p>@ResProductOverview.WelcomeText1</p>
                <img class="img-float img-responsive img-thumbnail pull-left" src="~/images/page1-img1.jpg" alt="gold fish jumps from a smaller into a larger jar">
                <p>@ResProductOverview.WelcomeText2</p>
                <p>@ResProductOverview.WelcomeText3</p>
                <p>@ResProductOverview.WelcomeText4</p>
                <p>@ResProductOverview.WelcomeText5</p>
                <p>@ResProductOverview.WelcomeText6</p>
                <p>@ResProductOverview.WelcomeText7</p>
                <p>@ResProductOverview.WelcomeText8</p>
                <p>@ResProductOverview.WelcomeText9</p>
            </div>
            <div class="col-sm-6 welcome text-justify">
                <h2 class="text-left">@ResProductOverview.Mission</h2>
                <h3>@ResProductOverview.MissionHeader1</h3>
                <p>@ResProductOverview.MissionText1</p>
                <h3>@ResProductOverview.MissionHeader2</h3>
                <p>@ResProductOverview.MissionText2</p>
                <h2 class="text-left">@ResProductOverview.Mission2</h2>
                <h3>@ResProductOverview.MissionHeader3</h3>
                <p>@ResProductOverview.MissionText3</p>
                <h3>@ResProductOverview.MissionHeader4</h3>
                <p>@ResProductOverview.MissionText4</p>
                <h3>@ResProductOverview.MissionHeader5</h3>
                <p>@ResProductOverview.MissionText5</p>
                <h3>@ResProductOverview.MissionHeader6</h3>
                <p>@ResProductOverview.MissionText6</p>
            </div>
        </div>
    </div>
</section>