@using Helobis.Hr.Web.Site.Resources

@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

@Html.Partial("_PartialCarousel")

<section class="container service-section" id="coaching-section">
    <div class="inner">
        <div class="row">
            <div class="col-sm-12">
                <h1>Coaching i Mentoring</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 service-content text-justify">
                <h4>@ResHeaders.Characteristic</h4>
                <p>@ResCoaching.CharacteristicsText1</p>
                <div class="service-content-list pull-right">
                    <h4>@ResHeaders.Examples</h4>
                    <ul class="fa-ul">
                        <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoaching.ExamplesItem1</h5></li>
                        <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoaching.ExamplesItem2</h5></li>
                        <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoaching.ExamplesItem3</h5></li>
                        <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoaching.ExamplesItem4</h5></li>
                        <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoaching.ExamplesItem5</h5></li>
                    </ul>
                </div>
                <p>@ResCoaching.CharacteristicsText2</p>
                <h4>@ResHeaders.Advantages</h4>
                <p>@ResCoaching.AdvantagesText1</p>
                <p>@ResCoaching.AdvantagesText2</p>
                <p>@ResCoaching.AdvantagesText3</p>
                <p>@ResCoaching.AdvantagesText4</p>
                <h4>@ResHeaders.Benefits</h4>
                <p>@ResCoaching.BenefitsText1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 service-content text-justify">
                <div class="service-content-list full-width">
                    <h4>@ResCoachingExamples.Example1Header</h4>
                    <p>@ResCoachingExamples.Example1Text1</p>
                    <div class="row text-left">
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item1</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item3</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item4</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item5</h5></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item6</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item7</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item9</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example1Item10</h5></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 service-content text-justify">
                <div class="service-content-list full-width">
                    <h4>@ResCoachingExamples.Example2Header</h4>
                    <p>@ResCoachingExamples.Example2Text1</p>
                    <div class="row text-left">
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example2Item1</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example2Item2</h5></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example2Item3</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example2Item4</h5></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 service-content text-justify">
                <div class="service-content-list full-width">
                    <h4>@ResCoachingExamples.Example3Header</h4>
                    <p>@ResCoachingExamples.Example3Text1</p>
                    <div class="row text-left">
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example3Item1</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example3Item2</h5></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example3Item3</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example3Item5</h5></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 service-content text-justify">
                <div class="service-content-list full-width">
                    <h4>@ResCoachingExamples.Example4Header</h4>
                    <p>@ResCoachingExamples.Example4Text1</p>
                    <div class="row text-left">
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example4Item1</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example4Item2</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example4Item3</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example4Item4</h5></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="fa-ul">
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example4Item5</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example4Item6</h5></li>
                                <li><h5><i class="fa-li fa fa-check-square"></i>@ResCoachingExamples.Example4Item7</h5></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 service-content text-justify">
                <div class="service-content-list full-width">
                    <h4>@ResCoachingExamples.Example5Header</h4>
                    <p>@ResCoachingExamples.Example5Text1</p>
                    <p>@ResCoachingExamples.Example5Text2</p>
                </div>
            </div>
        </div>
    </div>
</section>