@using Helobis.Hr.Web.Site.Resources

@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

@Html.Partial("_PartialCarousel")

<section class="container" id="contact-section">
    <div class="inner">
        <div class="row">
            <div class="col-sm-12">
                <h1>@ResContact.ContactHeaderPoland</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Adres</h3>
                <address>
                    <p>
                        Agnieszka Jaśkiewicz
                    </p>
                    <p>
                        ul. Sarmacka 1B/167
                    </p>
                    <p>
                        02-972 Warszawa
                    </p>
                    <p>
                        Polska
                    </p>
                </address>
                <h3>@ResContact.ContactHeaderPoland</h3>
                <address>
                    <p>
                        Agnieszka Jaśkiewicz
                    </p>
                    <p>
                        <a href="tel:+48501017017"><i class="fa fa-tablet"></i> +48 501 017 017</a>
                    </p>
                    <p>
                        <a href="mailto:@ResContact.MailAdrress"><i class="fa fa-envelope"></i> @ResContact.MailAdrress</a>
                    </p>
                </address>
                <h3>Odpowiedzialny za treść</h3>
                <address>
                    <p>
                        Łukasz Jaśkiewicz
                    </p>
                    <p>
                        ul. Sarmacka 1B/167
                    </p>
                    <p>
                        02-972 Warszawa
                    </p>
                    <p>
                        Polska
                    </p>
                    <p>
                        <a href="tel:+49570392590"><i class="fa fa-tablet"></i> +48 570 392 590</a>
                    </p>
                    <p>
                        <a href="mailto:@ResContact.MailAdrress"><i class="fa fa-envelope"></i> @ResContact.MailAdrress</a>
                </address>
            </div>
            <div class="col-sm-8 text-justify">
                <h3>
                    Wykluczenie odpowiedzialności
                </h3>
                <p>
                    Autor nie odpowiada za aktualność, prawidłowość i kompletność ew. jakość udostępnionych informacji. Roszczenia z tytułu odpowiedzialności wobec autora odnoszące się do szkód materialnych lub niematerialnych powstałych wskutek korzystania lub niekorzystania z zaprezentowanych informacji, względnie korzystania z błędnych lub niekompletnych informacji są zasadniczą wykluczone o ile nie wykazano, że autor zawinił w sposób umyślny lub wynikający z rażącego zaniedbania. Wszystkie oferty są niewiążące. Autor zastrzega sobie prawo do zmian, uzupełnień i usuwania bądź tymczasowego lub ostatecznego zaniechania publikacji.
                </p>
                <h3>
                    Prawo autorskie i prawa znakowania
                </h3>
                <p>
                    Treści i dzieła przedstawione na stronie przez właściciela tej strony podlegają polskiemy prawu autorskiemu. Kopiowanie, obróbka, dystrybucja lub jakiekolwiek wykorzystywanie treści podlegających prawom autorskim wymagają pisemnej zgody autora. Zabrania się zapisywania i kopiowania tej strony w celach komercyjnych.
                    Szczegółowy zakres dozwolonego i niedozwolonego użytku treści tej strony precyzują przepisy prawa, w szczególności ustawa z dnia 4 lutego 1994 roku o prawie autorskim i prawach pokrewnych (Dz. U. z 1994, Nr 24, poz. 83 z późn. zm.).
                </p>
                <p>
                    Wszystkie wymienione i stosowane znaki markowe i towarowe osób trzecich podlegają bez ograniczeń postanowieniom obowiązującego prawa znakowania i własności danych zarejestrowanych właścicieli. Tylko na podstawie wymienienia nie należy wnioskować, iż znak markowy nie jest chroniony prawami osób trzecich.
                </p>
            </div>
        </div>
    </div>
</section>