@using Helobis.Hr.Web.Site.Resources

@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

@Html.Partial("_PartialCarousel")

<section class="container" id="privacy-section">
    <div class="inner">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="block-title"><span>@ResPrivacy.Header</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 service-content text-justify">
                <h3 class="text-left">@ResPrivacy.GeneralHeder</h3>
                <p>@ResPrivacy.GeneralItem1</p>
                <p>@ResPrivacy.GeneralItem2</p>
                <h3 class="text-left">@ResPrivacy.CookiesHeader</h3>
                <p>@ResPrivacy.CookiesItem1</p>
                <p>@ResPrivacy.CookiesItem2</p>
                <p>@ResPrivacy.CookiesItem3</p>
                <p>@ResPrivacy.CookiesItem4</p>
                <p>@ResPrivacy.CookiesItem5</p>
                <p>@ResPrivacy.CookiesItem6</p>
                <p>@ResPrivacy.CookiesItem7</p>
                <p>@ResPrivacy.CookiesItem8</p>
                <h3 class="text-left">@ResPrivacy.FormHeader</h3>
                <p>@ResPrivacy.FormItem1</p>
                <p>@ResPrivacy.FormItem2</p>
                <p>@ResPrivacy.FormItem3</p>
                <p>@ResPrivacy.FormItem4</p>
                <h3 class="text-left">@ResPrivacy.ServerHeader</h3>
                <p>@ResPrivacy.ServerItem1</p>
                <p>@ResPrivacy.ServerItem2</p>
                <p>@ResPrivacy.ServerItem3</p>
                <p>@ResPrivacy.ServerItem4</p>
            </div>
        </div>
    </div>
</section>